<!DOCTYPE html>
<html>
    <body>
        <form class="login" action="/login" method="post">
            <link rel="stylesheet" href="style_login.css">
    
            <h3>Please fill in your login information:</h3>
            </br>
            
            <div class="stack_panel">
                <label>Username: </label>
                <input name="username" type="text" class="input_field">
            </div>
            
            <div class="stack_panel">
                <label>Password: </label>
                <input name="password" type="password" class="input_field">
            </div>
    
            <div class="stack_panel">
                <a href=login_button><button>Login</button></a>
            </div>
        </form>
    </body>
</html>