*{
    font-weight: lighter;
    font-family: Helvetica;
}
body{
    background-color: #eff2d3;
}
h1{
    color: black;
    text-align: center;
}
ul{
    background-color: #c8d368;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
} 
li{
    float: left;
}
li a{
    color: #636363;
    display: block;
    padding: 16px 10px;
    text-decoration: none;
}
li a:hover {
    background-color: #a6b148;
}
.register{
    float: right;
    margin-right: 10px;
}
.slideshow{
    width: 1150px;
    height: 650px;
    margin-top: 60px;
    margin-left: 245px;
}