*{
    box-sizing: border-box;
}
body{
    background-color: #e2e7bc;
    font-family: 'Helvetica';
    font-weight: lighter;
}
h3{
    text-align: center;
    margin-bottom : 2rem;
}
button{
    background: #c8d368;
    color: #636363;
    width: 100%;
    font-size: 1rem;
    padding: 15px;
    border: 1px solid #e0e0e0;
}
button:hover{
    background: #a6b148;
}
.login{
    background: #eff0e2;
    width: 550px;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border: 1px solid #e0e0e0;
}
.input_field{
    background: #f7f8f0;
    width: 100%;
    padding: 12px;
    border: 1px solid #e0e0e0;
}
.stack_panel{
    margin-bottom: 2rem;
}